{% extends "layouts/main.html" %} {% block pageTitle %} GOV.UK page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Step 1 of 4</span>
      <h1 class="govuk-heading-xl">Total fuel consumption and CO2 emissions	for MOL Triumph</h1>
      <p>Enter the ship’s total aggregated fuel consumption and CO2 emissions in m tonnes.</p>

<br>
   
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="event-name">
            
Total fuel consumption
          </label>
        </h1>
        <div class="govuk-form-group">
   
          <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
            <div class="govuk-input__suffix" aria-hidden="true">m tonnes</div>
          </div>
        </div></div>
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="event-name">
          Total CO2 emissions
        </label>
        </h1>
        <div class="govuk-form-group">

          <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
            <div class="govuk-input__suffix" aria-hidden="true">m tonnes</div>
          </div>
        </div></div>
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="event-name">
            CO2 emissions from all voyages between ports in the United Kingdom
          </label>
          </h1>
          <div class="govuk-form-group">
        
            <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
              <div class="govuk-input__suffix" aria-hidden="true">m tonnes</div>
            </div>
          </div></div>
  
          <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="event-name">
              CO2 emissions from all voyages which departed from ports in the United Kingdom
            </label>
            </h1>
            <div class="govuk-form-group">
   
              <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
                <div class="govuk-input__suffix" aria-hidden="true">m tonnes</div>
              </div>
            </div></div>
    
            <div class="govuk-form-group">
              <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="event-name">
                CO2 emissions from all voyages to ports in the United Kingdom
              </label>
              </h1>
              <div class="govuk-form-group">

                <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
                  <div class="govuk-input__suffix" aria-hidden="true">m tonnes</div>
                </div>
              </div></div>
              <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="event-name">
                  CO2 emissions which occurred within ports in the United Kingdom at berth
                </label>
                </h1>
                <div class="govuk-form-group">

                  <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
                    <div class="govuk-input__suffix" aria-hidden="true">m tonnes</div>
                  </div>
                </div></div>


      </div></div>
      <a href="er-summary" button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button></a>
    </div>
  </div>


{% endblock %}
