{% extends "layouts/main.html" %} {% block pageTitle %} GOV.UK page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
   
      <span class="govuk-caption-xl">IMO: 4123788</span>
      <h1 class="govuk-heading-xl">Emissions report for MOL Triumph	</h1>
   

     
        
          <h2 class="govuk-heading-l">Voyages</h2>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
           
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
               Time at sea
              </dt>
              <dd class="govuk-summary-list__value">
                232 hours
              </dd>
              <dd class="govuk-summary-list__actions">
           
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                At anchorage
              </dt>
              <dd class="govuk-summary-list__value">
                39 hours
              </dd>
              <dd class="govuk-summary-list__actions">
            
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Port of arrival
              </dt>
              <dd class="govuk-summary-list__value">
                Lisbon, Portugal
              </dd>
              <dd class="govuk-summary-list__actions">
            
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Distance travelled
              </dt>
              <dd class="govuk-summary-list__value">
                4225 n miles
              </dd>
              <dd class="govuk-summary-list__actions">
              
              </dd>
            </div>
           
          </dl>
        
          <h2 class="govuk-heading-l">Fuel consumption</h2>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Fuel type
              </dt>
              <dd class="govuk-summary-list__value">
                Heavy fuel oil (HFO)
              </dd>
              <dd class="govuk-summary-list__actions">
              
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Amount
              </dt>
              <dd class="govuk-summary-list__value">
                1408 m²
              </dd>
              <dd class="govuk-summary-list__actions">
              
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Density
              </dt>
              <dd class="govuk-summary-list__value">
                0.95 m tonnes/m²
              </dd>
              <dd class="govuk-summary-list__actions">
            
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Emissions  factor
              </dt>
              <dd class="govuk-summary-list__value">
                3.114  t CO₂/t-fuel
              </dd>
              <dd class="govuk-summary-list__actions">
              
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                CO₂ emissions
              </dt>
              <dd class="govuk-summary-list__value">
                4209.1315  m tonnes
              </dd>
              <dd class="govuk-summary-list__actions">
              
              </dd>
            </div>
          </dl>
          <h2 class="govuk-heading-l">Reporting period</h2>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Reporting period 
                </dt>
                <dd class="govuk-summary-list__value">
                  2022
                </dd>
                <dd class="govuk-summary-list__actions">
               
                </dd>
              </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Reporter
              </dt>
              <dd class="govuk-summary-list__value">
                John Smith
              </dd>
              <dd class="govuk-summary-list__actions">
              
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Creation date
              </dt>
              <dd class="govuk-summary-list__value">
                5 December 2022
              </dd>
              <dd class="govuk-summary-list__actions">
              
              </dd>
            </div>
         
           
          </dl>
          
        </div>
     
      </div>
    
 

{% endblock %}
