{% extends "layouts/main.html" %} {% block pageTitle %} GOV.UK page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block content %}

    <div class="govuk-grid-row">
        <h1 class="govuk-heading-xl">Notifications</h1>
        
        <div class="govuk-tabs" data-module="govuk-tabs">
            <h2 class="govuk-tabs__title">
              Contents
            </h2>
    
            <ul class="govuk-tabs__list">
              <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                <a class="govuk-tabs__tab" href="#past-day">
                  Emissions reports <span class="hmrc-notification-badge">11</span>
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#past-day">
                  Documents of compliance <span class="hmrc-notification-badge">11</span>
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#past-week">
                  Verifiers <span class="hmrc-notification-badge">5</span>
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#past-month">
                  My user accounts  <span class="hmrc-notification-badge">5</span>
                </a>
              </li>
          
            </ul>
            
            </div>
          </div>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                MOL Triumph
              </dt>
              <dd class="govuk-summary-list__value">
                IMO: 4123788
              </dd>
              <dd class="govuk-summary-list__value">
                 <strong>Uploaded by Verefavia Shipping </strong>at 13:00 on 12/01/2022
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="er-summary-review">
                  View report and submit<span class="govuk-visually-hidden"> name</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Spirit of Discovery
                </dt>
                <dd class="govuk-summary-list__value">
                  IMO: 4821678
                </dd>
                <dd class="govuk-summary-list__value">
                  <strong>Uploaded by Verefavia Shipping </strong> at 14:30 on 10/01/2022
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="er-summary-review">
                    View report and submit<span class="govuk-visually-hidden"> name</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Iron Gust
                </dt>
                <dd class="govuk-summary-list__value">
                  IMO: 7664789
                </dd>
                <dd class="govuk-summary-list__value">
                  <strong>Uploaded by Verefavia Shipping </strong> at 13:00 on 09/01/2022
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="er-summary-review">
                    View report and submit<span class="govuk-visually-hidden"> name</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  November
                </dt>
                <dd class="govuk-summary-list__value">
                  IMO: 0168433
                </dd>
                <dd class="govuk-summary-list__value">
                  <strong>Uploaded by Verefavia Shipping </strong> at 13:00 on 12/01/2022
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="er-summary-review">
                    View report and submit<span class="govuk-visually-hidden"> name</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  MS Douro Queen
                </dt>
                <dd class="govuk-summary-list__value">
                  IMO: 3343120
                </dd>
                <dd class="govuk-summary-list__value">
                  <strong>Uploaded by Verefavia Shipping </strong> at 10:30 on 08/01/2022
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="er-summary-review">
                    View report and submit<span class="govuk-visually-hidden"> name</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Talisman
                </dt>
                <dd class="govuk-summary-list__value">
                  IMO: 9191319
                </dd>
                <dd class="govuk-summary-list__value">
                  <strong>Uploaded by Verefavia Shipping </strong> at 13:00 on 12/01/2022
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="er-summary-review">
                    View report and submit<span class="govuk-visually-hidden"> name</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Norcove
                </dt>
                <dd class="govuk-summary-list__value">
                  IMO: 0168433
                </dd>
                <dd class="govuk-summary-list__value">
                  <strong>Uploaded by Verefavia Shipping </strong> at 13:00 on 12/01/2022
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="er-summary-review">
                    View report and submit<span class="govuk-visually-hidden"> name</span>
                  </a>
                </dd>
              </div>
           
          </dl>

         
      </div>
    </div>

{% endblock %}
