{% extends "layouts/main.html" %} {% block pageTitle %} GOV.UK page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">You have successfully created an account</h1>
        <p class="govuk-body">Check your email to verify your account.</p>
        <p class="govuk-body">
          <a class="govuk-link" href="#">Contact us</a> if you did not receive the email immedietley.
        </p>
        </div>
        </div>
{% endblock %}
