{% extends "layouts/main-round4.html" %} {% block pageTitle %} GOV.UK page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block content %}
<a href="#" class="govuk-back-link"  style=" margin-top: -35px;" href="javascript:window.history.back()" >Back</a>

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds"><h1 class="govuk-heading-l">Sorry, the details you entered are incorrect</h1>
        <p class="govuk-body">Try again later.</p>
       </div>
       </div>
{% endblock %}
