{% extends "layouts/main.html" %} {% block pageTitle %} GOV.UK page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Select a verifier to manage emissions reports</h1>
    
    <table class="govuk-table">
      <!-- <caption class="govuk-table__caption govuk-table__caption--m">Dates and amounts</caption> -->
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Verifier</th>
          <th scope="col" class="govuk-table__header">Number of ships</th>

          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Verifavia Shipping</th>
          <td class="govuk-table__cell">50</td>
          <td class="govuk-table__cell"><a href="dashboard3"*>Select</a><br></td>
        </tr>
      </tbody>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">DNV</th>
          <td class="govuk-table__cell">64</td>
          <td class="govuk-table__cell"><a href="dashboard3"*>Select</a><br></td>
        </tr>
      </tbody>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Llyod's Register</th>
          <td class="govuk-table__cell">47</td>
          <td class="govuk-table__cell"><a href="dashboard3"*>Select</a><br></td>
        </tr>
      </tbody>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">SEEMP</th>
          <td class="govuk-table__cell">16</td>
          <td class="govuk-table__cell"><a href="dashboard3"*>Select</a><br></td>
        </tr>
      </tbody>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">BV Solutions</th>
          <td class="govuk-table__cell">22</td>
          <td class="govuk-table__cell"><a href="dashboard3"*>Select</a><br></td>
        </tr>
      </tbody>
     
  </table>
  
</div>
</div>
{% endblock %}
