{% extends "layouts/main.html" %} {% block pageTitle %} GOV.UK page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">IMO: 4123788</span>
      <h1 class="govuk-heading-xl">Upload emissions report data for MOL Triumph	</h1>


      <p class="govuk-body-l">Use this page to upload your emissions report data in bulk. The file must be an XML or CSV.</p>

      <div class="govuk-form-group">
        <label class="govuk-label" for="file-upload-1">
          Upload a file
        </label>
        <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
      </div>

      <p class="govuk-body govuk-!-margin-bottom-7"><a href="tabs">Enter data manually </a></p>

      <a href="tab-uploaded" button class="govuk-button" data-module="govuk-button">
        Upload data
      </button></a>
    </div>
  </div>


{% endblock %}
