{% extends "layouts/main.html" %} {% block pageTitle %} Home – {{serviceName}} –
GOV.UK Prototype Kit {% endblock %} {% block content %}


<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
  

<div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">

<h1 class="gem-c-title__text govuk-heading-xl">
  Monitor, report and verify UK shipping emissions
</h1>
</div>
</div>
</div>
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
  <div class="responsive-bottom-margin">
    
<div class="gem-c-govspeak govuk-govspeak direction-ltr disable-youtube" data-module="govspeak" data-govspeak-module-started="true">
  
    
<div class="summary">
<p>You cannot get an MOT certificate if your vehicle’s exhaust emissions are too high.  Emissions may also be tested as part of a roadside check.</p>
</div>

<a href="start" button class="govuk-button" data-module="govuk-button">
  Get started
</button></a>

<p>Most vehicles have their exhaust emissions tested as part of the MOT.</p>

<p>Usually, they’re tested using a meter. Petrol vehicles used before August 1975 and diesel vehicles used before January 1980 are tested by sight.</p>

<p>If your vehicle fails the emission test it fails the MOT. The problem must be fixed before you can get an MOT certificate.</p>

<p>The only vehicles that do not have an emissions test as part of the MOT are:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>vehicles with fewer than 4 wheels</li>
<li>vehicles with 2-stroke engines</li>
<li>hybrid vehicles</li>
<li>quadricycles</li>
<li>hydrogen fuel cell vehicles</li>
<li>electric vehicles</li>
</ul>

<h2 class="govuk-heading-m">Roadside checks</h2>
<p>Your vehicle can also be tested during a roadside check.</p>

<p>If it fails the check, you’ll be given a prohibition notice. You’ll have 10 days to fix the problem. If you do not fix it within this period you may be prosecuted.</p>

<p>If your vehicle is seriously in breach of the legal emission limits, or if it has other defects which make it dangerous, the notice will come into effect immediately. You will not be able to use the vehicle. You may also be prosecuted.</p>

<h2 class="govuk-heading-m">Air Quality Management Areas</h2>
<p>A number of borough councils have been designated ‘Air Quality Management Areas’. This means the council can test vehicles at the roadside and issue fixed penalties to drivers whose vehicles fail.</p>

<p>Contact <a href="/find-your-local-council">your local council</a> to find out about checks and penalties in your area.</p>


</div>

  </div>
</div>

<div class="govuk-grid-column-one-third">

<div class="gem-c-contextual-sidebar">

  
<div class="gem-c-related-navigation">

  <h2 class="govuk-heading-m">      Related content
    </h2>




    <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-related_items-b6c83ccb" data-module="gem-toggle" data-gem-toggle-module-started="true">


<ul class="gem-c-related-navigation__link-list" data-module="gem-track-click" data-gem-track-click-module-started="true">


      <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.1 Related content" data-track-label="/co2-and-vehicle-tax-tools" data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;Car fuel and CO2 emissions data&quot;}" href="/co2-and-vehicle-tax-tools">Car fuel and CO2 emissions data</a></li>
      <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.2 Related content" data-track-label="/use-van-fuel-tools" data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;Fuel consumption and emissions for vans&quot;}" href="/use-van-fuel-tools">Fuel consumption and emissions for vans</a></li>
      <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.3 Related content" data-track-label="/getting-an-mot" data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;Getting an MOT&quot;}" href="/getting-an-mot">Getting an MOT</a></li>
      <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.4 Related content" data-track-label="/roadside-vehicle-checks-for-commercial-drivers" data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;Roadside vehicle checks for commercial drivers&quot;}" href="/roadside-vehicle-checks-for-commercial-drivers">Roadside vehicle checks for commercial drivers</a></li>

</ul>
</nav>

</div>



</div>

</div>

</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-contextual-footer">
  
<div class="gem-c-related-navigation">





    <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-topics-efea2c2b" data-module="gem-toggle" data-gem-toggle-module-started="true">

  <h2 id="related-nav-topics-efea2c2b" class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--footer" data-track-count="footerRelatedItemSection">Explore the topic</h2>

<ul class="gem-c-related-navigation__link-list" data-module="gem-track-click" data-gem-track-click-module-started="true">


      <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--footer" data-track-category="relatedLinkClicked" data-track-action="1.1 Explore the topic" data-track-label="/browse/driving/manufacture-adapt-vehicle" data-track-options="{&quot;dimension28&quot;:&quot;2&quot;,&quot;dimension29&quot;:&quot;Manufacture or adapt a vehicle&quot;}" href="/browse/driving/manufacture-adapt-vehicle">Manufacture or adapt a vehicle</a></li>
      <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--footer" data-track-category="relatedLinkClicked" data-track-action="1.2 Explore the topic" data-track-label="/browse/driving/vehicle-tax-mot-insurance" data-track-options="{&quot;dimension28&quot;:&quot;2&quot;,&quot;dimension29&quot;:&quot;Vehicle tax, MOT and insurance&quot;}" href="/browse/driving/vehicle-tax-mot-insurance">Vehicle tax, MOT and insurance</a></li>

</ul>
</nav>

</div>

</div>


  </div>
</div>




{% endblock %}
