{% extends "layouts/main.html" %} {% block pageTitle %} GOV.UK page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">IMO: 4123788</span>
      <h1 class="govuk-heading-xl">Emissions report for MOL Triumph
      </h1>

      <div class="govuk-notification-banner " role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Upload a file
          </h2> 
        </div>
        <div class="govuk-notification-banner__content">
          
          <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file"><a href="task-list-uploaded" button class="govuk-button" data-module="govuk-button">
            Upload
          </button></a>
        </div>
      </div>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Emissions report period
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="task-list-uploaded" aria-describedby="eligibility-status">
                  Add reporting period
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>

          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Voyages
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="task-list-uploaded" aria-describedby="company-information-status">
                  Add port of departure
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="task-list-uploaded" aria-describedby="contact-details-status">
                  Add port of arrival
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="task-list-uploaded" aria-describedby="list-convictions-status">
                  Add time at sea
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="task-list-uploaded" aria-describedby="list-convictions-status">
                  Add distance travelled
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
            
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Cargo
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Add cargo mass
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
            </li>
          </ul>
        </li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">4. </span> Fuel consumption
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              Add consumption and CO₂ emissions
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              Add direct emissions
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
          </li>
        </ul>
        
      </li>
      
      </ol>
    </div>
  </div>


{% endblock %}
