{% extends "layouts/main.html" %} {% block pageTitle %} GOV.UK page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Data upload successful
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 class="govuk-notification-banner__heading">
            Check your emissions report and submit to verifier.
          </h3>
        </div>
      </div>
      <span class="govuk-caption-xl">IMO: 4123788</span>
      <h1 class="govuk-heading-xl">Emissions report for MOL Triumph	</h1>
   

     
        
          <h2 class="govuk-heading-l">Voyages</h2>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Port of departure
              </dt>
              <dd class="govuk-summary-list__value">
                Rio de Janeiro, Brazil
              </dd>
              <dd class="govuk-summary-list__actions">
              
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Departure date
              </dt>
              <dd class="govuk-summary-list__value">
                12:00pm, 5 January 2022
              </dd>
              <dd class="govuk-summary-list__actions">
              
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Port of arrival
              </dt>
              <dd class="govuk-summary-list__value">
                Lisbon, Portugal
              </dd>
              <dd class="govuk-summary-list__actions">
             
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Arrival date
              </dt>
              <dd class="govuk-summary-list__value">
                12:00pm, 6 January 2022
              </dd>
              <dd class="govuk-summary-list__actions">
              
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
               Time at sea
              </dt>
              <dd class="govuk-summary-list__value">
                232 hours
              </dd>
              <dd class="govuk-summary-list__actions">
           
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                At anchorage
              </dt>
              <dd class="govuk-summary-list__value">
                39 hours
              </dd>
              <dd class="govuk-summary-list__actions">
            
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Port of arrival
              </dt>
              <dd class="govuk-summary-list__value">
                Lisbon, Portugal
              </dd>
              <dd class="govuk-summary-list__actions">
            
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Distance travelled
              </dt>
              <dd class="govuk-summary-list__value">
                4225 n miles
              </dd>
              <dd class="govuk-summary-list__actions">
              
              </dd>
            </div>
           
          </dl>
          <h2 class="govuk-heading-l">Cargo</h2>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Port of departure
              </dt>
              <dd class="govuk-summary-list__value">
                Rio de Janeiro, Brazil
              </dd>
              <dd class="govuk-summary-list__actions">
             
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Cargo mass
              </dt>
              <dd class="govuk-summary-list__value">
                5725 m tonnes
              </dd>
              <dd class="govuk-summary-list__actions">
             
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Cargo dead weight
              </dt>
              <dd class="govuk-summary-list__value">
                4325 dwt carried
              </dd>
              <dd class="govuk-summary-list__actions">
            
              </dd>
            
            
            </div>
           
           
          </dl>
          <h2 class="govuk-heading-l">Fuel consumption</h2>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Fuel type
              </dt>
              <dd class="govuk-summary-list__value">
                Heavy fuel oil (HFO)
              </dd>
              <dd class="govuk-summary-list__actions">
              
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Amount
              </dt>
              <dd class="govuk-summary-list__value">
                1408 m²
              </dd>
              <dd class="govuk-summary-list__actions">
              
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Density
              </dt>
              <dd class="govuk-summary-list__value">
                0.95 m tonnes/m²
              </dd>
              <dd class="govuk-summary-list__actions">
            
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Emissions  factor
              </dt>
              <dd class="govuk-summary-list__value">
                3.114  t CO₂/t-fuel
              </dd>
              <dd class="govuk-summary-list__actions">
              
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                CO₂ emissions
              </dt>
              <dd class="govuk-summary-list__value">
                4209.1315  m tonnes
              </dd>
              <dd class="govuk-summary-list__actions">
              
              </dd>
            </div>
          </dl>
          <h2 class="govuk-heading-l">Reporting period</h2>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Reporting period 
                </dt>
                <dd class="govuk-summary-list__value">
                  2022
                </dd>
                <dd class="govuk-summary-list__actions">
               
                </dd>
              </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Reporter
              </dt>
              <dd class="govuk-summary-list__value">
                Sarah Philips
              </dd>
              <dd class="govuk-summary-list__actions">
              
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Creation date
              </dt>
              <dd class="govuk-summary-list__value">
                5 December 2022
              </dd>
              <dd class="govuk-summary-list__actions">
              
              </dd>
            </div>
         
           
          </dl>
          
        </div>
     
      </div>
    
      <h2 class="govuk-heading-m">Now submit emissions report to verifier</h2>
      <p class="govuk-body">By submitting this emissions report you are confirming that, <br>to the best of your knowledge, the details you are providing are correct.</p>

        
    <a href="confirmation" button class="govuk-button" data-module="govuk-button">
      Submit to verifier
    </button></a>

{% endblock %}
