{% extends "layouts/main.html" %} {% block pageTitle %} GOV.UK page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block content %}
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">  <a class="govuk-link" href="#">Notifications <span class="hmrc-notification-badge">32</span>
        </a></span>
        <h1 class="govuk-heading-xl">Very Verifiers</h1>

      </div>
  </div>
<section>

           <h2 class="govuk-heading-l">My clients</h2>
      <hr aria-hidden="true">
<div class="inner-section">
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
         
      
       <h3 class="govuk-heading-m"> Manage ships</h3>
          <p class="govuk-body">Add, view and update ships.</p>
        <p class="govuk-body">
            <a class="govuk-link" href="#">Manage ships</a>
        </p>
      </div>
      <div class="govuk-grid-column-one-third">
          <h3 class="govuk-heading-m">Emissions reports</h3>
          <p class="govuk-body">Upload, submit and review emissions reports.</p>
          <p class="govuk-body"><a class="govuk-link" href="dashboard3">Manage emissions reports</a>
            <br><br><a class="govuk-link" href="https://www.gov.uk/government/publications/mgn-662-m-united-kingdom-monitoring-reporting-and-verification-uk-mrv-regime/mgn-662-m-annex-ii-uk-monitoring-reporting-and-verification-uk-mrv-regime">View template for emissions reports</a></p>
      </div>
             
            <div class="govuk-grid-column-one-third">
               <h3 class="govuk-heading-m">Documents of compliance</h3>
               <p class="govuk-body">View and download documents of compliance</p>
              <p class="govuk-body"><a class="govuk-link" href="doc-compl">Documents of compliance</a></p>
           </div>
          </div>
  </div>
</section>
<br><br>
<!-- <section>
  <h2 class="govuk-heading-l"> Upload files</h2>
  <hr aria-hidden="true">
  <div class="inner-section">
      <div class="spacer"></div>
          <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third">
              <h3 class="govuk-heading-m">Upload files</h3>
                  <p class="govuk-body">Submit emissions report data.</p>
                  <p class="govuk-body"><a class="govuk-link" href="#">Upload files</a></p>
                  <p class="govuk-body govuk-!-margin-bottom-7"><a href="#">Download XML template</a></p>

              </div>
              
      </div> 
  </div>
</section> -->
<br><br>
<section>
<hr aria-hidden="true">
<div class="inner-section">
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">My company</h3>
          <p class="govuk-body">Add, view, edit and delete your user accounts.</p>
          <p class="govuk-body"><a class="govuk-link" href="/Profile/InviteColleague">User accounts</a></p>
      </div>
      <div class="govuk-grid-column-one-third">
          <h3 class="govuk-heading-m">Verifier details</h3>
          <p class="govuk-body">Update your company’s details, accreditation, partnerships and passwords.</p>
          <p class="govuk-body"><a class="govuk-link" href="/Profile/ContactDetails">Update company details</a></p>
      </div>
      <div class="govuk-grid-column-one-third">
              <h3 class="govuk-heading-m">Help and information</h3>
              <p class="govuk-body">Help with using this service and contact details.</p>
              <p class="govuk-body"><a class="govuk-link" href="/Help/Information">View help and information</a></p>
      </div>
  </div> 
</div>
</section>

{% endblock %}
