{% extends "layouts/main.html" %} {% block pageTitle %} GOV.UK page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block content %}

    <div class="govuk-grid-row">
        <h1 class="govuk-heading-xl">Notifications <span class="hmrc-notification-badge">32</span></h1>
        
       
              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    MOL Triumph
                  </dt>
                  <dd class="govuk-summary-list__value">
                    IMO: 4123788
                  </dd>
                  <dd class="govuk-summary-list__value">
                    Uploaded at 13:00 on 12/01/2022
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      View report<span class="govuk-visually-hidden"> name</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Spirit of Discovery
                    </dt>
                    <dd class="govuk-summary-list__value">
                      IMO: 4821678
                    </dd>
                    <dd class="govuk-summary-list__value">
                      Uploaded at 14:30 on 10/01/2022
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">
                        View report<span class="govuk-visually-hidden"> name</span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Iron Gust
                    </dt>
                    <dd class="govuk-summary-list__value">
                      IMO: 7664789
                    </dd>
                    <dd class="govuk-summary-list__value">
                      Uploaded at 13:00 on 09/01/2022
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">
                        View report<span class="govuk-visually-hidden"> name</span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      November
                    </dt>
                    <dd class="govuk-summary-list__value">
                      IMO: 0168433
                    </dd>
                    <dd class="govuk-summary-list__value">
                      Uploaded at 13:00 on 12/01/2022
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">
                        View report<span class="govuk-visually-hidden"> name</span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      MS Douro Queen
                    </dt>
                    <dd class="govuk-summary-list__value">
                      IMO: 3343120
                    </dd>
                    <dd class="govuk-summary-list__value">
                      Uploaded at 10:30 on 08/01/2022
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">
                        View report<span class="govuk-visually-hidden"> name</span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Talisman
                    </dt>
                    <dd class="govuk-summary-list__value">
                      IMO: 9191319
                    </dd>
                    <dd class="govuk-summary-list__value">
                      Uploaded at 13:00 on 12/01/2022
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">
                        View report<span class="govuk-visually-hidden"> name</span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Norcove
                    </dt>
                    <dd class="govuk-summary-list__value">
                      IMO: 0168433
                    </dd>
                    <dd class="govuk-summary-list__value">
                      Uploaded at 13:00 on 12/01/2022
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">
                        View report<span class="govuk-visually-hidden"> name</span>
                      </a>
                    </dd>
                  </div>
               
              </dl>

              <nav class="govuk-pagination" role="navigation" aria-label="results">

                <ul class="govuk-pagination__list">
            
                  <li class="govuk-pagination__item govuk-pagination__item--current">
                    <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
                      1
                    </a>
                  </li>
                  <li class="govuk-pagination__item">
                    <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
                      2
                    </a>
                  </li>
                  <li class="govuk-pagination__item">
                    <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
                      3
                    </a>
                  </li>
                  <li class="govuk-pagination__item">
                    <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
                      4
                    </a>
                  </li>
                </ul>
                <div class="govuk-pagination__next">
                  <a class="govuk-link govuk-pagination__link" href="#" rel="next"> <span class="govuk-pagination__link-title">Next</span> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                      <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                    </svg></a>
                </div>
              </nav>

      </div>
    </div>

{% endblock %}
