{% extends "layouts/main.html" %} {% block pageTitle %} GOV.UK page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Voyages: Step 4 of 4</span>
      <h1 class="govuk-heading-xl">Check voyage details for Stena Nordica	</h1>

      <h2 class="govuk-heading-m">Voyage details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Year
            </dt>
            <dd class="govuk-summary-list__value">
              2022
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Quarter
            </dt>
            <dd class="govuk-summary-list__value">
              Quarter 4
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Reporting port
            </dt>
            <dd class="govuk-summary-list__value">
              Port of Milford Haven<br>Gorsewood Dr<br> Hakin<br> Milford Haven <br>SA73 3EP
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Direction of travel
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">Inward</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Port details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Port of loading
            </dt>
            <dd class="govuk-summary-list__value">
              Port of Aberdeen<br> 16 Regent Quay<br>Aberdeen <br>AB11 5SS
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Number of voyages
            </dt>
            <dd class="govuk-summary-list__value">
              12
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>
          
          </div>
        </dl>
        <div class="govuk-grid-column-two-thirds-from-desktop">

        <h2 class="govuk-heading-m">Cargo details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Description of cargo
            </dt>
            <dd class="govuk-summary-list__value">
              Oil products
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Cargo group
            </dt>
            <dd class="govuk-summary-list__value">
              Oil & gas
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Cargo category
            </dt>
            <dd class="govuk-summary-list__value">
              Crude oil
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>
          
          </div>
        </dl>
        <div class="govuk-grid-column-two-thirds-from-desktop">

      <a href="task-list2" button class="govuk-button" data-module="govuk-button">
        Continue
      </button></a>
    </div>
  </div>


{% endblock %}
