{% extends "layouts/main.html" %} {% block pageTitle %} GOV.UK page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block content %}
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Ship operator no: 123456789</span>
        <h1 class="govuk-heading-xl">John Smith Shipping LTD</h1>

      </div>
  </div>
<section>
           <h2 class="govuk-heading-l">My fleet</h2>
      <hr aria-hidden="true">
<div class="inner-section">
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
         
      
       <h3 class="govuk-heading-m"> View ships</h3>
          <p class="govuk-body">View, add and edit ship details.</p>
        <p class="govuk-body">
            <a class="govuk-link" href="/Msd1">View ships</a>
        </p>
      </div>
      <div class="govuk-grid-column-one-third">
          <h3 class="govuk-heading-m">Emissions reports</h3>
          <p class="govuk-body">Add voyage data and emissions data, review verification status.</p>
          <p class="govuk-body"><a class="govuk-link" href="/Summary/SubmissionSummary">View emissions reports</a></p>
      </div>
             
            <div class="govuk-grid-column-one-third">
               <h3 class="govuk-heading-m">My DoC's</h3>
               <p class="govuk-body">View and download documents of compliance</p>
              <p class="govuk-body"><a class="govuk-link" href="/QuarterlyReturn/Checklist">View</a></p>
           </div>
          </div>
  </div>
</section>
<br><br>
<section>
  <h2 class="govuk-heading-l">Bulk uploads</h2>
  <hr aria-hidden="true">
  <div class="inner-section">
      <div class="spacer"></div>
          <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third">
              <h3 class="govuk-heading-m">Bulk files</h3>
                  <p class="govuk-body">Submit emissions reports in bulk.</p>
                  <p class="govuk-body"><a class="govuk-link" href="/ASCII">Upload files</a></p>
              </div>
              <div class="govuk-grid-column-one-third">
                  <h3 class="govuk-heading-m">API key</h3>
                  <p class="govuk-body">Generate an API key to send emissions reports automatically via the API.</p>
                  <p class="govuk-body"><a class="govuk-link" href="/ApiKey/ApiKey">Generate API key</a></p>
          </div>
      </div> 
  </div>
</section>
<br><br>
<section>
<h2 class="govuk-heading-l">Administrative services</h2>
<hr aria-hidden="true">
<div class="inner-section">
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Colleagues</h3>
          <p class="govuk-body">Add a new colleague or view your current colleagues.</p>
          <p class="govuk-body"><a class="govuk-link" href="/Profile/InviteColleague">Add / View colleagues</a></p>
      </div>
      <div class="govuk-grid-column-one-third">
          <h3 class="govuk-heading-m">Ship operator details</h3>
          <p class="govuk-body">Update your ship operator details, contact details and password.</p>
          <p class="govuk-body"><a class="govuk-link" href="/Profile/ContactDetails">Update your details</a></p>
      </div>
      <div class="govuk-grid-column-one-third">
              <h3 class="govuk-heading-m">Help and information</h3>
              <p class="govuk-body">Help with using this service and frequently asked questions (FAQ's).</p>
              <p class="govuk-body"><a class="govuk-link" href="/Help/Information">View help and information</a></p>
      </div>
  </div> 
</div>
</section>

{% endblock %}
