{% extends "layouts/main.html" %} {% block pageTitle %} GOV.UK page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">IMO: 4123788</span>
      <h1 class="govuk-heading-xl">Upload emissions report data for Stena Nordica	</h1>


      <p class="govuk-body-l">You can use this page to bulk upload your emissions report data. The file must be XML or CSV format.</p>

      <div class="govuk-form-group">
        <label class="govuk-label" for="file-upload-1">
          Upload a file
        </label>
        <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
      </div>

      <p class="govuk-body govuk-!-margin-bottom-7">You can also <a href="/task-list">manually input data here</a>.</p>

      <a href="tab-uploaded" button class="govuk-button" data-module="govuk-button">
        Upload
      </button></a>
    </div>
  </div>


{% endblock %}
