{% extends "layouts/main.html" %} {% block pageTitle %} Home – {{serviceName}} –
GOV.UK Prototype Kit {% endblock %} {% block content %}

<div class="govuk-grid-row">

    <h1 class="govuk-heading-xl">Round 2</h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <p class="govuk-body">Onboarding</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/r2/start">Start page</a></li>
          <li><a href="/r2/log-reg">Do you have an account?</a></li>
          <li><a href="/r2/create-account">Create account</a></li>
          <li><a href="/r2/successful-account-creation">Successful account creation</a></li>
          <li><a href="/r2/Unsuccessful">Unsuccessful</a></li>
          <li><a href="/r2/sign-in">Sign in</a></li>
        </ul>      
      </div>
      <div class="govuk-grid-column-one-third">
        <p class="govuk-body">Logged in</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/r2/dashboard2">Dashboard tiles</a></li>
          <li><a href="/r2/dashboard3">Emissions report </a></li>
          <li><a href="/r2/file-upload">File upload</a></li>
          <li><a href="/r2/file-upload2">File upload error</a></li>
          <li><a href="/r2/er-summary">Emissions report summary</a></li>
          <li><a href="/r2/confirmation">Confirmation page</a></li>
          <li><a href="/r2/dashboard4">Emissions report with verifier </a></li>


        </ul>
            </div>
     </div><br><br><br>
       
        <h1 class="govuk-heading-l"> Round 1</h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <p class="govuk-body">User tasks</p>
        <ul class="govuk-list govuk-list--bullet">
          <!-- <li><a href="/guidance">Guidance page</a></li> -->
          <li><a href="/r1/start1">Start page</a></li>

          <br>
          <li><a href="/r1/file-upload1">File upload</a></li>


          <!-- <li><a href="/create-account">Create account</a></li>
          <li><a href="/successful-account-creation">Successful account creation</a></li>
          <li><a href="/Unsuccessful">Unsuccessful</a></li>
          <li><a href="/sign-in">Sign in</a></li> -->
        </ul>      
      </div>
      <div class="govuk-grid-column-one-third">
        <p class="govuk-body">Design option 1</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/r1/dashboard">Dashboard 1</a></li>
          <li><a href="/r1/file-upload">File upload</a></li>
          <li><a href="/r1/tab-uploaded">Tab complete</a></li>
          <li><a href="/r1/confirmation">Confirmation page</a></li>

        </ul>
            </div>
      <div class="govuk-grid-column-one-third">
        <p class="govuk-body">Design option 2</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/r1/dashboard2">Dashboard 2</a></li>
          <li><a href="/r1/file-upload2">File upload</a></li>
          <li><a href="/r1/task-list-uploaded">Task list complete</a></li>
          <li><a href="/r1/dashboard4">Dashboard 3</a></li>


        </ul>      </div>

    </div>

   
    
</div>

{% endblock %}
