{% extends "layouts/main.html" %} {% block pageTitle %} Home – {{serviceName}} –
GOV.UK Prototype Kit {% endblock %} {% block content %}

<div class="govuk-grid-row">

    <h1 class="govuk-heading-xl">User testing - Round 1</h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <p class="govuk-body">User onboarding</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/guidance">Guidance page</a></li>
          <li><a href="/start">Start page</a></li>
          <li><a href="/create-account">Create account</a></li>
          <li><a href="/successful-account-creation">Successful account creation</a></li>
          <li><a href="/Unsuccessful">Unsuccessful</a></li>
          <li><a href="/sign-in">Sign in</a></li>
        </ul>      
      </div>
      <div class="govuk-grid-column-one-third">
        <p class="govuk-body">Design option 1</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/dashboard">Dashboard 1</a></li>
          <li><a href="/tabs">Tab to do</a></li>
          <li><a href="/file-upload">File upload</a></li>
          <li><a href="/tab-uploaded">Tab complete</a></li>
          <li><a href="/confirmation">Confirmation page</a></li>

        </ul>
            </div>
      <div class="govuk-grid-column-one-third">
        <p class="govuk-body">Design option 2</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/dashboard2">Dashboard 2</a></li>
          <li><a href="/task-list">Task list to do</a></li>
          <li><a href="/file-upload2">File upload</a></li>
          <li><a href="/task-list-uploaded">Task list complete</a></li>
          <li><a href="/confirmation">Confirmation page</a></li>


        </ul>      </div>
    </div>

   
    
</div>

{% endblock %}
