{% extends "layouts/main.html" %} {% block pageTitle %} GOV.UK page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Voyages: Step 3 of 4</span>
      <h1 class="govuk-heading-xl">Cargo details for Stena Nordica	</h1>

      <p class="govuk-body govuk-!-margin-bottom-7">If you have the voyage data you can <a href="/task-list">upload files here</a>.</p>

   
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="event-name">
            Description of cargo
          </label>
        </h1>
        <div id="event-name-hint" class="govuk-hint">
          Enter the types of goods in your cargo
        </div>
        <input class="govuk-input" id="event-name" name="event-name" type="text" aria-describedby="event-name-hint">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="subject">
          Type of cargo
        </label>
        <div id="subject-hint" class="govuk-hint">
          Select a cargo group
        </div>
        <select class="govuk-select" id="subject" name="subject" aria-describedby="subject-hint">
          <option value="choose" selected>Choose a cargo group</option>
          <option value="eastmidlands">East Midlands</option>
          <option value="eastofengland">East of England</option>
          <option value="london">London</option>
          <option value="northeast">North East</option>
          <option value="northwest">North West</option>
          <option value="southeast">South East</option>
          <option value="southwest">South West</option>
          <option value="westmidlands">West Midlands</option>
          <option value="yorkshire">Yorkshire and the Humber</option>
        </select>
      </div>
      <div class="govuk-form-group">

      <div id="subject-hint" class="govuk-hint">
        Select a cargo category
      </div>
      <select class="govuk-select" id="subject" name="subject" aria-describedby="subject-hint">
        <option value="choose" selected>Choose a cargo category</option>
        <option value="eastmidlands">East Midlands</option>
        <option value="eastofengland">East of England</option>
        <option value="london">London</option>
        <option value="northeast">North East</option>
        <option value="northwest">North West</option>
        <option value="southeast">South East</option>
        <option value="southwest">South West</option>
        <option value="westmidlands">West Midlands</option>
        <option value="yorkshire">Yorkshire and the Humber</option>
      </select>
    </div>
    <p class="govuk-body govuk-!-margin-bottom-7">See examples of <a href="/task-list">cargo groups and categories</a>.</p>
</div></div>
      <a href="check-details" button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button></a>
    </div>
  </div>


{% endblock %}
