{% extends "layouts/main.html" %} {% block pageTitle %} GOV.UK page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Voyages: Step 2 of 4</span>
      <h1 class="govuk-heading-xl">Inward port details for Stena Nordica	</h1>

      <p class="govuk-body govuk-!-margin-bottom-7">If you have the voyage data you can <a href="/task-list">upload files here</a>.</p>

   
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="event-name">
            Port of loading
          </label>
        </h1>
        <div id="event-name-hint" class="govuk-hint">
          Enter the port for which cargo was loaded onto the vessel
        </div>
        <input class="govuk-input" id="event-name" name="event-name" type="text" aria-describedby="event-name-hint">
      </div>
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="event-name">
          Number of voyages
        </label>
        </h1>
        <div id="event-name-hint" class="govuk-hint">
          If this return is for more than 1 voyage, enter the total number of voyages the vessel took on this route
        </div>
        <input class="govuk-input" id="event-name" name="event-name" type="text" aria-describedby="event-name-hint">
      </div>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Date of voyage (optional)
            </h1>
          </legend>
          <div id="passport-issued-hint" class="govuk-hint">
            If there was only 1 voyage enter the date the vessel arrived. <br>For example, 27 3 2022
          </div>
          <div class="govuk-date-input" id="passport-issued">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
              </div>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="event-name">
          Your reference (optional)
        </label>
        </h1>
        <div id="event-name-hint" class="govuk-hint">
          Enter a reference to match your filling records
        </div>
        <input class="govuk-input" id="event-name" name="event-name" type="text" aria-describedby="event-name-hint">
      </div>
      <a href="port-details2" button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button></a>
    </div>
  </div>


{% endblock %}
