{% extends "layouts/main.html" %} {% block pageTitle %} GOV.UK page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Voyages: Step 1 of 4</span>
      <h1 class="govuk-heading-xl">Voyage details for Stena Nordica	</h1>

      <p class="govuk-body govuk-!-margin-bottom-7">If you have the voyage data you can <a href="/task-list">upload files here</a>.</p>

      <div class="govuk-form-group">
        <label class="govuk-label" for="sort">
          Year
        </label>
        <select class="govuk-select" id="sort" name="sort">
          <option value="updated" selected>2022</option>
          <option value="views">2021</option>
          <option value="comments">2020</option>
        </select>
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="sort">
          Quarter
        </label>
        <select class="govuk-select" id="sort" name="sort">
          <option value="updated" selected>Quarter 4</option>
          <option value="views">Quarter 3</option>
          <option value="comments">Quarter 2</option>
          <option value="comments">Quarter 1 </option>
        </select>
      </div>
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="event-name">
            Reporting port
          </label>
        </h1>
        <div id="event-name-hint" class="govuk-hint">
          Enter the port for which you are completing your monitoring report for
        </div>
        <input class="govuk-input" id="event-name" name="event-name" type="text" aria-describedby="event-name-hint">
      </div>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Direction of travel
            </h1>
          </legend>
          <div id="changed-name-hint" class="govuk-hint">
            Are you traveling inward or outward from the reporting port
          </div>
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="changed-name">
                Inward
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="changed-name-2">
                Outward
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <a href="port-details" button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button></a>
    </div>
  </div>


{% endblock %}
